/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/

#hero {
  background-color: azure;
}

#voresis {
  background-color: lightyellow;
}

#tilbud {
  background-color: burlywood;
}

#omos {
  background-color: lavender;
}

/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {}

/* END "sm-" 576px and up */


/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

  /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

  /* END "xl-" 1200px and up */
}

/**************************************************/
/* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
/**************************************************/
@media (min-width: 1400px) {

  /* END "xxl-" 1400px and up */
}
